<div class="content-box">
	<div class="content-box-header">
		<h3>Tipo Cliente</h3>
		<div class="clear"></div>
	</div>
	<div class="content-box-content">
		<form>
			<fieldset>
				<p>
					<label>Descrição</label> 
					<input class="text-input large-input" type="text" id="small-input" ng-model="tipo.descricao" /> 
				</p>
				<p>
					<a href="#/listagemTipoCliente/1" class="button">Voltar</a>
					<a class="button" ng-click="salvar()">Salvar</a>
				</p>
			</fieldset>
			<div class="clear"></div>
		</form>
	</div>
</div>