<div class="content-box">
	<div class="content-box-header">
		<h3>Tipo de serviço</h3>
		<div class="clear"></div>
	</div>
	<div class="content-box-content">
		<form>
			<fieldset>
				<p>
					<label>Descrição</label> 
					<input class="text-input large-input" type="text" ng-model="tipo.descricao" id="inputDescricao"/> 
					<span class="input-notification error hidden png_bg" for="inputDescricao" id="descricao"></span>
				</p>
				<p>
					<a href="#/listagemTipoServico/1" class="button">Voltar</a>
					<a class="button" ng-click="salvar()">Salvar</a>
				</p>
			</fieldset>
			<div class="clear"></div>
		</form>
	</div>
</div>